.article-list{
    
    line-height:1;
}

a.list-article{    
    display: block;
    margin:0 0 $base-margin;
    background-color: $color-black-3;
    color: $color-white;
    clear: both;
    overflow: auto;
    font-size: 0;
}

.list-article-date{
    @extend %font-size;
    vertical-align: top;
    padding: 20px;
    display: inline-block;
    height: 100%;
    width: 125px;
    border: 5px solid #454545;
    background: white;
    color: #454545;
    
    span{
        display: block;
        text-align: center;
        font-size:80%;
        text-transform: uppercase;
        
        &:first-child{
            font-size:350%;
        }
    }
}

.list-article-pre{
    vertical-align: top;
    @extend %font-size;
    display: inline-block;
    padding:$base-margin;
    width:calc(100% - 125px);
    
    h3{
        font-size:125%;
        margin-bottom:$base-margin/2;
    }
}