.site-footer{
	position:relative;
	z-index:1;
    
    background-size: cover;
    background-position:bottom;
    background-repeat:no-repeat;
    
    .right{
        text-align: center;
        padding-top:$base-margin;
        
        @media only screen and(min-width:769px){
            
            text-align: right;
            padding: 0;
        }
        
    }
    
    .half{
        @media only screen and(min-width:769px){
            
            display: inline-block;
            width:50%;
            vertical-align: top;
            
        }
        
    }
    
}

.footer-logo{
    height:200px;
    display: block;
    margin:auto;
    text-align: center;
    
    img{
        height:inherit;
        width: auto;
    }
    
    @media only screen and(min-width:769px){
        float:left;
        height:280px;
    }
    
}

.footer-info{
    
    text-transform: uppercase;
    @extend %article-font-style;
    color:lighten($color-black-3,15);
    font-size:13px;
    
    @media only screen and(min-width:769px){
        float:right;
    }
    
    h3{
        color:$color-black;
        font-size: 150%;
        font-weight: 700;
    }
    
    h3,p{
        padding: $base-margin/2 0 0;
    }
    
    hr{
        border: 1px solid $color-black;
    }
    
}